{% extends 'base.html.twig' %}
{% block title %} {{app.user.firstname }} Ajout d'un Event {% endblock %}

{% block content %}

<hr>


<div class="wrapper">
    <h1>Ajouter un Event</h1>

  <div class="addEvent">
    <div class="form-group">
      {{ form_start(form) }}
          {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}     
      </div>
      <div class="form-group"><p>Photo de votre évènement</p>
          {{ form_row(form.photo, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
          {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.cp_location, {'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.city_location, {'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.name_location, {'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.date_start, {'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.date_end, {'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.price, {'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.categorie_event, {'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.nbPlace, {'attr': {'class': 'form-control'}}) }}
      </div>
      
      <div class="form-group">
        
          <input type="submit" value="Send" class="btn btn-primary py-3 px-5">
      </div>
      {{ form_end(form) }}
      </div>
      {# {{form(form) }} #}

       {# Vérifier si la route est "event_edit" on affiche les images #}
       {# {% if app.request.attributes.get('_route') == 'event_edit' %}
       <h2>Images</h2>
       {% for image in event.images %}
        <div>
          <img src"={{asset('/img/'~image.name)}}" alt="Image" width="150" >
          <a href="{{path('event_delete_image',{id: image.id}) }}" data-delete data-token="{{csrf_token('delete'~ image.id)}}"> Supprimer</a>        
       {% endfor %}
       {% endif %} #}
       
      </div>
  </div>



{% endblock %}